<div class="container">
    <br>
    <br>
    <div class="row justify-content-around align-items-center g-5">
        <div class="col">
            <h1>About Us.</h1>
            <br>
            <p>
                At Bhraman, we believe that travel is about more than just seeing sights and checking off boxes. It's about connecting with new cultures, creating lasting memories, and experiencing the world in all its wonder. That's why we're dedicated to crafting personalized travel itineraries that are tailored to your unique needs and interests.
            </p>

            <p>
                Our team of experienced travel experts is passionate about helping you discover the hidden gems and off-the-beaten-path destinations that make each journey truly unforgettable. Whether you're dreaming of a relaxing beach vacation, an adventurous trek through the Himalayas, or a cultural immersion in the heart of India, we'll work with you to create an itinerary that is perfectly suited to your budget, travel style, and interests.
            </p>
            
            <p>
                We're also committed to providing our customers with the best possible value and service. That's why we negotiate the best rates on flights, accommodations, and activities on your behalf. And because we know that things don't always go according to plan, we offer 24/7 support to ensure that you have a smooth and hassle-free travel experience.
            </p>
            
            <br>
            Team <br>
            Bhraman.
        </div>
        <div class="col">
            <img src="../../../assets/aboutus-img.png" alt="Random Image" class="random">
        </div>
    </div>
    
    <br>
    <br>
    
    <img src="../../../assets/aboutus-stuff.png" alt="Random Image" class="stuff">

    
    

    <img src="../../../assets/aboutus-form.png" alt="Random Image" class="form">

</div>