<div class="container">
    <br>
    <br>

    <h1>Blogs.</h1>
    <br>
    <h5>Trending News</h5>

    <div class="row justify-content-around align-items-center g-5">
        
        <div class="col">
            <img src="../../../assets/aboutus-img.png" alt="Random Image" class="random">
        </div>

        <div class="col">
            <h2>
                Mahakal Lok Phase 3:
            </h2>
            <h3>All You Need to Know is here.</h3>

            <br>

            <p>Mahakal Lok is an ambitious project to expand and beautify the Mahakaleshwar Temple corridor in Ujjain, Madhya Pradesh. The project is being implemented in three phases, with Phase 1 and 2 already completed. Mahakal Lok Phase 3 is the final phase of the project and is expected to be completed by 2025.</p>

            <p>Key Features of Mahakal Lok Phase 3</p>

            <p>Mahakal Lok Phase 3 will focus on the following key features:</p>

            <ul>
                <li>Development of the Maharajwada area: This area will be developed into a cultural and heritage hub, with plazas, fountains, and sculptures.</li>
                <li>Revamp of the Rudrasagar lake: The lake will be cleaned and beautified, with boating facilities and walkways.</li>
                <li>Development of the Mahakal Lok Path: This path will connect the Mahakal Temple to the Maharajwada area and the Rudrasagar lake.</li>
                <li>Construction of a new temple entrance: A new grand entrance will be constructed for the Mahakal Temple.</li>
            </ul>
            
            Team <br>
            Bhraman.
        </div>
    </div>

    <br><br><br><br>
    
    <img src="../../../assets/blogs-stuff.png" alt="Random Image" class="stuff">

    <br><br><br><br><br>

    <img src="../../../assets/blogs-viral.png" alt="Random Image" class="viral">

    <br><br><br>

</div>