<div class="container">

    <br>
    
    <!-- Filters -->

    <app-filters></app-filters>
    
    <!-- Filters end -->
    
    <div class="hero-element">
    
        <div class="row justify-content-center align-items-center g-2">
            <div class="col">
                <h1>Wherever You Go,</h1>
                <h1>Let's Make It Happen</h1>
            </div>
            <div class="col">
                <img src="../../../assets/hero-img.png" alt="img" class="hero-img">
            </div>
        </div>
        
    </div>
    
    
    <br><br>
    
    
    <!-- Book your next trip -->
    <div>
        <h2>Book Your Next Trip in 3 Easy Steps</h2>
        <img src="../../../assets/title-line.png" alt="Line" class="line">
    
        <div class="row justify-content-center align-items-center g-2">
    
            <div class="col">
                <p>Unleash your wanderlust and let our AI-powered travel planner take you on an unforgettable adventure. Through a simple 3-step process, we'll transform your travel aspirations into a personalized itinerary that matches your unique style and interests. Share your passions with us, and let our intelligent travel companion curate a journey that is tailored to your dreams. With your customized itinerary in hand, we'll simplify the booking process, ensuring your flights, accommodations, and activities are seamlessly arranged. Embrace the convenience and expertise of our AI-powered travel planner, and embark on an extraordinary journey today!</p>
                <br>
                <h5>Why Travel with Us</h5>
    
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <h6>Personalized Service</h6>
                        <p>Tailored to your unique needs and preferences, our travel experts will craft a journey that is perfectly suited for you.</p>
                        <h6>Best Price</h6>
                        <p>We'll negotiate the best rates on your behalf, so you can save money and spend more on experiences.</p>
                    </div>
                    
                    <div class="col">
                        <h6>24x7 Support</h6>
                        <p>We're here for you every step of the way, from planning to post-trip support.</p>
                        <h6>Trusted Company</h6>
                        <p>With over 20 years of experience, we're a reliable and trustworthy travel partner.</p>
                    </div>
                </div>
    
            </div>
    
            <div class="col-sm-2"></div>
    
            <div class="col">
                <div class="row justify-content-center align-items-center">
                    <div class="col">
                        <img src="../../../assets/random-image.png" alt="Random Image" class="random">
                        <img src="../../../assets/random-image.png" alt="Random Image" class="random">
                    </div>
                    
                    <div class="col">
                        <img src="../../../assets/random-image.png" alt="Random Image" class="random">
                        <img src="../../../assets/random-image.png" alt="Random Image" class="random">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <br><br>
    
    <!-- Popular destinations -->
    
    
    <div>
    
        <h3>Popular Destinations</h3>
        <img src="../../../assets/title-line.png" alt="Line" class="line">
    
        <p>Most popular destinations around the world, from historical places to natural wonders.</p>
    
        <div class="row justify-content-center align-items-center g-3">
            <div class="col-3">
                <img src="../../../assets/ram-ghat.png" alt="Ram Ghat" class="img-dest"> 
            </div>
            <div class="col-3">
                <img src="../../../assets/ram-ghat.png" alt="Ram Ghat" class="img-dest"> 
            </div>
            <div class="col-3">
                <img src="../../../assets/ram-ghat.png" alt="Ram Ghat" class="img-dest"> 
            </div>
            <div class="col-3">
                <img src="../../../assets/ram-ghat.png" alt="Ram Ghat" class="img-dest"> 
            </div>
        </div>
    
    </div>
    
    
    <br><br>
    
    <!-- Testimonials -->
    
    <!-- <div class="">
        
        <h3>Testimonials From Our Customers</h3>
        <img src="../../../assets/title-line.png" alt="Line" class="line">
    
        <p>Most popular destinations around the world, from historical places to natural wonders.</p>
    
        <div class="row justify-content-center align-items-center g-5">
            <div class="col">
                <img src="../../../assets/testimonial.png" alt="Testimonial" class="testimonial-img">
            </div>
    
            <div class="col">
                <img src="../../../assets/testimonial.png" alt="Testimonial" class="testimonial-img">
            </div>
    
            <div class="col">
                <img src="../../../assets/testimonial.png" alt="Testimonial" class="testimonial-img">
            </div>
            
        </div>
    
    </div>
    
    <br><br> -->
    
    </div>
    
    
    